{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if request.user.is_superuser or perms.tasks.view_customuser %}
    <li>
        <a href="{% url 'admin_student_list' %}" class="button">Student List</a>

    </li>

    <li>
        <a href="{% url 'admin_teacher_list' %}" class="button">Teacher List</a>
    </li>
    {% endif %}

    {% if request.user.is_superuser or perms.tasks.change_customuser %}
    <li>
        <a href="{% url 'admin:manage-users' %}" class="button">
            {% trans "Manage Users" %}
        </a>
    </li>
    <li>
        <a href="{% url 'admin:manage-roles' %}" class="button">
            {% trans "Manage Roles" %}
        </a>
    </li>
    {% endif %}

    {% if request.user.is_superuser or perms.tasks.view_task %}
    <li>
        <a href="{% url 'admin:all-tasks' %}" class="button">
            {% trans "View All Tasks" %}
        </a>
    </li>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
